
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.env
.env.*
env/
venv/
ENV/

# Django
*.sqlite3
*.log
staticfiles/
media/

# Node/React/Next.js
node_modules/
build/
dist/
.next/
frontend/node_modules/
frontend/build/
frontend/.next/

# Lock files
package-lock.json
pnpm-lock.yaml
yarn.lock
frontend/package-lock.json
frontend/pnpm-lock.yaml
frontend/yarn.lock

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp
*.swo
coverage/
*.coverage
*.log

# Env files
.env
.env.local
.env.*.local
frontend/.env
frontend/.env.local
frontend/.env.*.local
